<div *ngIf="album">
  <header class="album-header">
    <div class="row">
      <div class="medium-4 columns">
        <div *ngIf="album.images.length > 0">
          <img class="album-thumb" src="{{album.images[0].url}}">
        </div>
      </div>
      <div class="medium-8 columns">
        <h5>Release Date: {{album.release_date}}</h5>
        <a class="button" target="_blank" href="{{album.external_urls.spotify}}">View in Spotify</a>
      </div>
    </div>
  </header>
  <div class="album-tracks">
    <h2>Album Tracks</h2>
    <div *ngFor="let track of album.tracks.items">
      <div class="well">
        <h6>{{track.track_number}} - {{track.name}}</h6>
        <a href="{{track.external_urls.spotify}}" target="_blank">Preview Track</a>
      </div>
    </div>
  </div>
</div>
